--- 
// const tailwindCssAnimated = `animate-wiggle-more animate-twice animate-duration-[1250ms] animate-ease-in-out`  
// const tailwindCssAnimated = `animate-wiggle animate-twice animate-duration-[1250ms] animate-ease-in-out`  
// const tailwindCssAnimated = `animate-rotate-y animate-twice animate-duration-[1250ms] animate-ease-in-out`  
const tailwindCssAnimated = `animate-jump-in animate-once animate-duration-[1250ms] animate-ease-in-out`  
import { Image } from 'astro:assets'
import arcTriomphe from "../assets/ortf/ArcdeTriomphe-1.jpg"
// import { imageResizingService } from "~/src/build/ImageResizingService"
// import { imageResizingService } from "../../.ci/src/build/ImageResizeService"
import imageResizingService, {hookAjB} from "../../.ci/src/build/ImageResizeService"

import astroConfig from 'astro.config.mjs'
import type { ImageTransform, AstroConfig, ImageMetadata } from 'astro'
/**
 * `https://picsum.photos/id/866/200/300.jpg`
 */
const myJustinCurieuxOptions: ImageTransform = {
  src: '866',
  width: 200,
  height: 300
}
//const myJustinCurieuxImageConfig: AstroConfig['image'] = (astroConfig.image?astroConfig.image.service.config:{})
const myJustinCurieuxImageConfig: any = (astroConfig.image?astroConfig.image.service.config:{})

// myJustinCurieuxImageConfig



    {/* 
    <img src="/ArcdeTriomphe-1.jpg"
        width={'75%'}
        height={'80%'}
        alt="Arc de Triomphe, Paris"
        class="rounded-[50px] filter grayscale blur-[2px] z-1 p-5"
    />
     */}
    {//src={arcTriomphe}
    }
    {//densities={[1.5, 2]}
    }

// const testAoui = import("https://picsum.photos/id/866/200/300.jpg") // src={testAoui}
//
const justinImgMetaData: ImageMetadata = {
  src: `bidule`,
  format: "webp", // here {format} property of [ImageMetaData] Class, is an [Enum], not an [ImageOutputFormat]  
  height: 150,
  width: 150,
}
//
// src={import(`${imageResizingService.getURL(myJustinCurieuxOptions, myJustinCurieuxImageConfig)}`)}
---

<style>
@keyframes ping {
	0% { background-position: 0% 0%; }
    17% { background-position: 0% 1%; }
    83% { background-position: 1% 0%; }
	100% { background-position: 0% 1%; }
}
</style>
<div class={`${tailwindCssAnimated} relative grid justify-items-center items-center bg-black`}>
    <!-- CRT DISPLAY -->
    <Image 

        
        src={hookAjB(myJustinCurieuxOptions)}
        
        alt="Arc de Triomphe, Paris" 
        class="rounded-[50px] filter grayscale blur-[2px] z-1"
    />
    <!-- CRT BARS -->
    <div 
        class="absolute z-2 rounded-[50px] opacity-10 min-w-[100%] min-h-full bg-gradient-to-b from-white to-black bg-[length:5px_5px] animate-ping"
    ></div>
</div>